.aboutheading,h3{
    color: #2196f3;
}
.aboutheading{
        text-align: center;}
.about{
    margin: 20px auto;
    padding: 1rem;
    line-height: 1.7;
    text-align: justify;
    display: flex;
    width:70%;
    flex-direction: column;

}