.contact{
    
    margin: 40px auto;
    line-height: 2;
    padding: 2.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
.contact-para{
    width:50%;
    margin:auto;
}