.contact{

    margin: 40px auto;
    line-height: 2;
    padding: 2.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
 a{
  color: #2196f3;
}
a:hover{
  color: #eee;
  }
.contact-para{
    width:50%;
    margin:auto;
}
.mainDiv {
  background: #0e1621;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
